<!doctype html>
<html>
  <head>
    <title>Hi There!</title>
  </head>
  <body>
    <h1>Hi There!</h1>
    <form action="/greet">
      What's your name? <input type="text" name="person">
      <input type="submit" value="Submit">
      <select name="compliment" method="GET">
        {% for compliment in awesomeness: %}
          <option value = "{{compliment}}">{{compliment}}</option>
        {% endfor %}
      </select>
    </form>
    <form action="/diss">
      What's your name? <input type="text" name="person">
      <input type="submit" value="Submit">
      <select name="diss" method="GET">
        {% for diss in insults: %}
          <option value = "{{diss}}">{{diss}}</option>
        {% endfor %}
      </select>
    </form>
</html>